{% extends "layout.html" %}

{% block head %}

<title>Products</title>

{% endblock %}
{% block content %}
<div class="container mt-5 pt-4">
  <!--modal-->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add product
  </button>

  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/add_products" method="post">
            <div>
              <label for="name">Enter name of the product</label><br>
              <input type="text" id="name" name="name" required><br>
              <label for="buyingprice">Enter buying price</label><br>
              <input type="number" id="bp" name="buyingprice" required><br>
              <label for="sellingprice">Enter selling price</label><br>
              <input type="number" id="sp" name="sellingprice" required><br>
              <button type="submit" class="btn btn-primary"> Add product</button>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>



  <!--<p>{{product}}</p>-->

  <!--table-->
  <table class=" display display-bordered" id="myTable">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">Buying price</th>
        <th scope="col">Selling price</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {%for prod in product%}
      <tr>
        <td>{{prod[0]}}</td>
        <td>{{prod[1]}}</td>
        <td>{{prod[2]}}</td>
        <td>{{prod[3]}}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#editproduct{{prod[0]}}" >
            Edit
          </button>

          <!-- Modal -->
          <div class="modal fade " id="editproduct{{prod[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/update_products" method="post">
                    <div>
                      <input type="hidden" name="id" value="{{prod[0]}}">
                      <label for="name">Enter name of the product</label><br>
                      <input type="text" id="name" name="name" value="{{prod[1]}}"><br>
                      <label for="buyingprice">Enter buying price</label><br>
                      <input type="number" id="bp" name="buyingprice" value="{{prod[2]}}"><br>
                      <label for="sellingprice">Enter selling price</label><br>
                      <input type="number" id="sp" name="sellingprice" value="{{prod[3]}}"><br>
                      <button type="submit" class="btn btn-primary"> edit product</button>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block script %}
let table = new DataTable('#myTable');

{% endblock %}