{% extends "layout.html" %}
 
{% block head %}
<title>sales</title>
{% endblock %}
{% block content %}
<div class="container mt-5 pt-4">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add sales
</button>

<!-- Modal -->
<div class="modal fade mt-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/add_sales" method="post">
          <div><!--part4 select element-->
            <label for="pid">Choose a product:</label>
<select name="pid" id="pid">
  {% for prod in products%}
    <option value="{{prod[0]}}">{{prod[1]}}</option>

    {% endfor %}
    
</select><br>
        
            <label for="name">Enter the quantity</label><br>
            <input type="number" id="quantity" name="quantity" required><br>
            <button type="submit"class="btn btn-primary"> Add sales</button>
            
          </div>
        </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


    <h2>my total sales</h2>
    <!--<p>{{sale}}</p>-->
   <table class="display" id="myTable">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">product id</th>
      <th scope="col">quantity</th>
      <th scope="col">created_at</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sale%}
    <tr>
      <td>{{sale[0]}}</td>
      <td>{{sale[1]}}</td>
      <td>{{sale[2]}}</td>
      <td>{{sale[3]}}</td>
      <td>
        <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#updatesales{{sale[0]}}">
  Edit
</button>

<!-- Modal -->
<div class="modal fade mt-4" id="updatesales{{sale[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/update_sales" method="post">
          <div><!--part4 select element-->
            

            <input type="hidden" name="id" value="{{sale[0]}}">
            <label for="name">Enter the quantity</label><br>
            <input type="number" id="quantity" name="quantity" value="{{sale[2]}}" ><br>
            <button type="submit"class="btn btn-primary"> Update sales</button>
            
          </div>
        </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

      </td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>
</div>
{% endblock %}

   {% block script%} 
  let table = new DataTable('#myTable');
{% endblock %}
